html{
    background-color: white;
    width: 100%;
}

*{
    padding:0 ;
    margin:0 ;
}
body{
    color: #434492;
    font-family: 'Century Gothic';
    padding:0% 5% 0% 5% ;
    margin:0 !important;
}
.bg_1{
    background-color: hsl(357, 100%, 72%,5%);
    width: 55vw;
    height: auto;
    /* margin-left: 48px; */
    z-index: 0;
}
.top{

    z-index:4;
    display: flex;
    width:89vw;
    /*100vw*/

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Perpetua;
}
.top_line{
    background-color: #FF7076;
    width: 0.2vw;
    height: 10vw;
}
.top_w{
    font-size: 1.3vw;
    font-weight: 600;
    margin-top: 1vw;
    color: #FFD729;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}
a:link{
    text-decoration:none;
    color: #434492;
}
a:hover{
    text-decoration:none;
    color: #FF7076;
}
ul{
    
    display: inline;
    flex-direction: row;
    justify-content: space-around;
}
li a{
    font-size: 1.3vw;
    font-weight: 600;
    margin-left: 11.5vw;
}
.two{
    font-size: 1.5vw;
}
li{
    display: inline;
}    

/* icon */
.contact{
    position: flex;
    display: flex;
    flex-direction: column;
}
#fb_top a {
    background: url("../img/Facebook.png");/*預設顯示圖片*/
    display: flex;
    background-repeat: no-repeat;
    background-size: 14px,14px;
    height: 14px;/*圖片高度*/
    width: 14px;/*圖片寬度*/
}
#fb_top a:hover {
    background: url("../img/Facebook_hovor.png"); /*滑鼠移過顯示圖片*/
    background-repeat: no-repeat;
}
#ig_top a {

    background: url("../img/Instergram.png");/*預設顯示圖片*/
    display: flex;
    background-repeat: no-repeat;
    background-size: 14px,14px;
    height: 14px;/*圖片高度*/
    width: 14px;/*圖片寬度*/
}
#ig_top a:hover {
    background: url("../img/Instergram_hovor.png"); /*滑鼠移過顯示圖片*/
    background-repeat: no-repeat;
}
#tw_top a {

    background: url("../img/Twitter.png");/*預設顯示圖片*/
    display: flex;
    background-repeat: no-repeat;
    background-size: 14px,14px;
    height: 14px;/*圖片高度*/
    width: 14px;/*圖片寬度*/
}
#tw_top a:hover {
    background: url("../img/Twitter_hovor.png"); /*滑鼠移過顯示圖片*/
    background-repeat: no-repeat;
}
#pin_top a {

    background: url("../img/Pinterest.png");/*預設顯示圖片*/
    display: flex;
    background-repeat: no-repeat;
    font-size: 0; 
    background-size: 14px,14px;
    height: 14px;/*圖片高度*/
    width: 14px;/*圖片寬度*/
}
#pin_top a:hover {
    background: url("../img/Pinterest_hovor.png"); /*滑鼠移過顯示圖片*/
    background-repeat: no-repeat;
}
.icon{
    margin: 0.5vw 0 0.5vw 0;
}

/*main*/
.main{
    display: flex;
    z-index: 2;
    width:89vw;
    height: 30vw;
    flex-direction: column;

    align-items: flex-start;
}
.square{
    width: 7vw;
    height: 5.3vw;
    background-color: #FF7076;
}
.box{
    display: flex;
    flex-direction: row;
    width:89vw;
    justify-content: space-between;
    align-items: center;
}
.pos{
    display: flex;
    align-items: flex-start;
    height: 30vw;
}
.left{
    width: 20%;
    height: 23vw;
    flex-direction: column;
    justify-content: space-between;
}
.left_w{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.2vw;
}
.right_img{
    display: flex;
    z-index: 3;
    width: 50%;
    height: 70%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.ww{
    width:40vw;
    height:30vw;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-self: flex-start;
}
.wave{
    position: absolute;
    z-index: 3;
    background-image: url(../img/img.png);
    width:40vw;
    height:29vw;
    background-repeat:no-repeat;
    background-size:40vw;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5vw;
    margin-bottom: 1vw;
}
.square_bg{ 
    position: absolute;
    z-index: 0;
    width: 33vw;
    height: 25vw;
    top:23vw;
    right:11vw;
    background-color: #FF7076;
}



.big_w{
    width: 70%;
    font-size: 5.8vw;
    font-family:Perpetua ;
    display: flex;
    justify-content: center;
    margin-top:3.6vw;
    margin-bottom:6.5vw;
    color: #FF7076;
}

.bottom{
    z-index: 1;
    display: flex;
    width: 89vw;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5.1vw;
}
.line{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.3vw;
    margin-bottom: 3vw;

}
.box1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.Famous{
    font-family:Perpetua ;
    font-weight: bold;
    font-size: 1.5vw;
    margin-right: 1.2vw;

}
.bottom_line{
    width: 10vw;
    height:0.2vw;
    background-color: #FF7076;
}
.poet img{
    display: flex;
    z-index: 2;
    width: 25vw;
    height: auto;
    box-shadow: 0.4vw 0.4vw #FFD729;
}
.poet .top_line{
    display: flex;
    position: absolute;
    z-index: 7;
    width: 0.2vw;
    margin-top:-6.5vw;
    border-radius: 10vw;
    margin-left: 1vw;
}
.poet p{
    position: relative;
    font-size: 1.2vw;
    font-family: Perpetua;
    font-weight: bold;
    margin-top: 4.5vw;
}

/* footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
    width: initial;
    width: 98.9vw;
    margin-left: -5.55%;
    height:8vw ;
    background-color: #FF7076;
}
footer p{
    font-size:1vw ;
    font-family: Perpetua;
    color: white;
}

#FB a {
    background: url("../img/Facebook_about_f.png");/*預設顯示圖片*/
    display: flex;
    background-repeat: no-repeat;
    font-size: 0; 
    background-size:  1.5vw, 1.5vw;
    height: 1.5vw;/*圖片高度*/
    width: 1.5vw;/*圖片寬度*/
}
#FB a:hover {
    background: url("../img/Facebook_footer_hovor.png"); /*滑鼠移過顯示圖片*/
    background-repeat: no-repeat;
    background-size:  1.5vw, 1.5vw;
}
#IG a {

    background: url("../img/Instergram_about_f.png");/*預設顯示圖片*/
    display: flex;
    background-repeat: no-repeat;
    font-size: 0; 
    background-size:  1.5vw, 1.5vw;
    height: 1.5vw;/*圖片高度*/
    width: 1.5vw;/*圖片寬度*/
}
#IG a:hover {
    background: url("../img/Instergram_footer_hovor.png"); /*滑鼠移過顯示圖片*/
    background-repeat: no-repeat;
    background-size:  1.5vw, 1.5vw;
}
#TW a {

    background: url("../img/Twitter_about_f.png");/*預設顯示圖片*/
    display: flex;
    background-repeat: no-repeat;
    font-size: 0; 
    background-size:  1.5vw, 1.5vw;
    height: 1.5vw;/*圖片高度*/
    width: 1.5vw;/*圖片寬度*/
}
#TW a:hover {
    background: url("../img/Twitter_footer_hovor.png"); /*滑鼠移過顯示圖片*/
    background-repeat: no-repeat;
    background-size:  1.5vw, 1.5vw;
}
#PIN a {

    background: url("../img/Pinterest_about_f.png");/*預設顯示圖片*/
    display: flex;
    background-repeat: no-repeat;
    font-size: 0; 
    background-size:  1.5vw, 1.5vw;
    height: 1.5vw;/*圖片高度*/
    width: 1.5vw;/*圖片寬度*/
}
#PIN a:hover {
    background: url("../img/Pinterest_footer_hovor.png"); /*滑鼠移過顯示圖片*/
    background-repeat: no-repeat;
    background-size:  1.5vw, 1.5vw;
}